
//- checking github code for HTML-CODE COULD BE USED in pug --- yes!
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starter</title>
    style
        include ../static/style.css
    <!-- font-awesome -->
    //- <link
    //-   rel="stylesheet"
    //-   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    //- />

    <!-- styles -->
    //- <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">

        <h2>#{message}</h2>
        //- <!-- <p> 
        //-     | #{content} 
        //-     | This is a plain html using pug 
        //- </p> -->

        <form action="/" method="post" id="contact" method = "post">
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="text" name="age" id="age" placeholder="Enter your age">
            <input type="text" name="gender" id="gender" placeholder="Enter your gender">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="More about you.."></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
    <!-- javascript -->
    //- <script src="app.js"></script>
  </body>
</html>